.Appbar {
  background: #00b0d8 url(images/header-gradient.png) repeat-x;
  padding-top: 24px;
  max-width: 1280px;
  min-width: 980px;
  margin: auto;
  background-color: #303030;
  position: relative;
}
